<article class=article1>
    <h2>The Value of Money</h2>
    <figure><img src="./img/home/money.jpg" /><figcaption>People bets on bitcoin</figcaption></figure>
    <p>Money is a touchy subject. That’s because most of us, to a certain degree, associate a lot of our self-worth and identity to our job and how much money we make. It is, quite literally, a market valuation of our skills and competence as a person, and therefore we all get a little bit testy and scooch around uncomfortably in our chairs whenever money is brought up. <br>But money is merely an arbitrary store of value. It is not value itself. <br>There are many stores of value in life. Time is a form of value. Knowledge is a form of value. Happiness and other positive emotions are a form of value. Money is often just the vehicle of interchanging these various forms of value with one another. </p>   
<br>
<hr>
<br>
</article>

<article class=article2>
    <h2>GMO food</h2>
    <figure><img src="./img/home/gmo.jpg" /><figcaption>What is a GMO?</figcaption></figure>
    <p>A GMO, or genetically modified organism, is a plant, animal, microorganism or other organism whose genetic makeup has been modified in a laboratory using genetic engineering or transgenic technology. This creates combinations of plant, animal, bacterial and virus genes that do not occur in nature or through traditional crossbreeding methods.<br>Genetic modification affects many of the products we consume on a daily basis. As the number of GMOs available for commercial use grows every year, the Non-GMO Project works diligently to provide the most accurate, up-to-date standards for non-GMO verification. </p>   
<br>
<hr>
<br>
</article>

<article class=article3>
    <h2>The View of World in 2100</h2>
    <figure><img src="./img/home/2100.png" /><figcaption> What will be create in 2100</figcaption></figure>
    <p>Computers will disappear, as will cellphones, clocks, watches, and MP3 players. Chips, costing less than a penny apiece, will be hidden by the millions in the environment. We will be able to command these hidden computers telepathically, directly via the mind. Computers will interpret the electrical signals emitted by our brains, decipher them, and carry out our wishes. When we walk into a room, we will be able to mentally control a computer that in turn will direct the many things around us. Moving heavy furniture, rearranging desks, and brewing a cup of coffee may be possible just by thinking about it. So we will be like the gods of mythology, mentally manipulating the world around us. We will also be able to conjure up almost any object just by wishing for it. </p>   
<br>
<hr>
<br>
</article>



