<div class="card-group">
    <div class="card">
        <figure><img class="card-img-top" src="./img/portfolio/ottawa-1.jpg" alt="Card image cap"></figure>
        <div class="card-body">
            <h4 class="card-title">Bayshore station</h4>
        </div>
    </div>
    <div class="card">
        <figure><img class="card-img-top" src="./img/portfolio/ottawa-2.JPG" alt="Card image cap"></figure>
        <div class="card-body">
            <h4 class="card-title">Rideau Street</h4>
        </div>
    </div>
    <div class="card">
        </figure>
        <figure><img class="card-img-top" src="./img/portfolio/QuebecCity-1.jpg" alt="Card image cap"></figure>
        <div class="card-body">
            <h4 class="card-title">Pub St-Patrick</h4>
        </div>
    </div>
</div>

<div class="card-group">
    <div class="card">
        <figure><img class="card-img-top" src="./img/portfolio/QuebecCity-2.jpg" alt="Card image cap"></figure>
        <div class="card-body">
            <h4 class="card-title">Quebec City</h4>
        </div>
    </div>
    <div class="card">
        <figure><img class="card-img-top" src="./img/portfolio/street-1.jpg" alt="Card image cap"></figure>
        <div class="card-body">
            <h4 class="card-title">Queen Street</h4>
        </div>
    </div>
    <div class="card">
        <figure><img class="card-img-top" src="./img/portfolio/street-2.JPG" alt="Card image cap"></figure>
        <div class="card-body">
            <h4 class="card-title">Spark Street</h4>
        </div>
    </div>
</div>

<div class="card-group">
    <div class="card">
        <figure><img class="card-img-top" src="./img/portfolio/street-3.JPG" alt="Card image cap"></figure>
        <div class="card-body">
            <h4 class="card-title">Bank Street</h4>
        </div>
    </div>
    <div class="card">
        <figure><img class="card-img-top" src="./img/portfolio/street-4.JPG" alt="Card image cap"></figure>
        <div class="card-body">
            <h4 class="card-title">O'Conner Street</h4>
        </div>
    </div>
    <div class="card">
        <figure><img class="card-img-top" src="./img/portfolio/ottawa-3.jpg" alt="Card image cap"></figure>
        <div class="card-body">
            <h4 class="card-title">Canadian Museum of Nature</h4>
        </div>
    </div>
</div>
